<% layout("layouts/boilerplate") %>

    <body>
        <h3>Edit this Listing</h3>
        <br><br>
        <div class="row mb-3">
            <div class="col-8 offset-2">
        <form method="post" action="/listings/<%=listing._id%>/?_method=PUT" novalidate class="needs-validation"
             enctype="multipart/form-data">
            <div>
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                <div class="invalid-feedback">Please enter a valid Title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <input type="text" name="listing[description]" value="<%=listing.description%>" class="form-control" required>
                  <div class="invalid-feedback">Please enter a short description</div>
            </div>
            <div class="mb-3">original image <br/>
             <img src="<%=originalimageUrl%>" alt="">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label"> Upload new image</label>
                <input type="file" name="listing[image]" class="form-control" >
                  <div class="invalid-feedback">Please enter a valid image</div>
            </div>
            
            <div class="row">
            <div class="col-md-4 mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                  <div class="invalid-feedback">Please enter a valid Price</div>
            </div>
            <div class="col-md-8 mb-3">
                <label for="location" class="form-label">location</label>
                <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                  <div class="invalid-feedback">Please enter a  Location</div>
            </div>
            </div>
            <div>
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                  <div class="invalid-feedback">Please enter a Country</div>
            </div>
            <br><br>
            <button class="btn btn-dark edit-btn">Edit</button>
        </form>
        </div>
        </div>
    </body>

    </html>